@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  background-color: #DDDDDD;
  font-family: "Inter", sans-serif;
}

.body {
  min-height: calc(100vh - 120px - 44px);
}

.row {
  margin: 0;
}

.container-fluid {
  padding: 0;
}

.col-lg-12 {
  padding: 0;
}

app-navbar {
  position: sticky;
  top: 0px;
  z-index: 9999;
}
