<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h1>Ebben a hónapban:</h1>
      <p>Eladott áruk: <u>{{statistic?.numberOfSoldProduct}}db</u></p>
      <p>Bevétel: {{statistic?.income}}Ft</p>
      <p>Vásárlások száma: {{statistic?.numberOfOrder}}db</p>
      <p>Átlagos rendelési érték: {{statistic?.averageOrderedPrice}}Ft</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h2>Legmegtekintettebb termékek: 4db</h2>
    </div>
  </div>
</div>
