.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' ,
  'opsz' 50;
  font-size: 80px;
}

.container-fluid {
  min-height: calc(100vh - 63px - 90px);
}

button {
  background-color: #48616D;
  border-radius: 20px;
  display: block;
  margin: 10px auto;
  padding: 5px;
  width: 150px;
  border: none;
  color: white;
}
