.cardContainer {
  width: 100%;
  height: 350px;
  background-color: #B4B4B4;
  border-radius: 15px;
  padding: 10px;
  margin: 5px;
  align-self: center;
}

img {
  width: 90%;
  height: 100%;
}

.kep {
  padding: 0;
  width: 100%;
}
