.iconDiv {
  width: 80px !important;
  height: 80px !important;
  border-radius: 100%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.15) !important;
  margin: 5px;
}

.iconDiv .material-symbols-outlined {
  font-size: 50px !important;
}

.kep {
  padding: 10px;
}

.img-fluid {
    width: 100%;
  object-fit: cover;
  height: 300px;
}

.productCards {
  margin: 5px;
}

.productCards .col-lg-3 {
  padding: 0;
}

.col-sm-12 {
  align-items: center;
}

.card {
  width: 100%;
}
