.iconDiv {
  width: 80px !important;
  height: 80px !important;
  border-radius: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  margin: 5px;
}

.iconDiv .material-symbols-outlined {
  font-size: 50px !important;
}

.productCards {
  margin: 5px;
}

.productCards .col-lg-3 {
  padding: 0;
}
