.iconDiv {
  width: 80px !important;
  height: 80px !important;
  background-color: red;
  border-radius: 100%;
}

.iconDiv .material-symbols-outlined {
  font-size: 50px !important;
}

.productCards .col-lg-3 {
  margin: 10px;
}

.productCards .row {
  justify-content: center;
  width: fit-content;
}
