<div class="container-fluid">
  <div class="row my-5">
    <div class="kep col-lg-8 col-md-6 col-sm-12 d-flex justify-content-center align-items-center">
      <img class="img-fluid" src="assets/keszlet.png" alt="">
    </div>
    <div class="kep col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center align-items-center">
      <img class="img-fluid" src="assets/keszlet.png" alt="Készlet">
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h1>Aktuális kiemelt termékeink</h1>
    </div>
  </div>

  <div class="productCards">
    <div class="row mb-5">
      <div class="card col-lg-3 col-md-6 col-sm-12">
        <app-product-card></app-product-card>
      </div>
      <div class="card col-lg-3 col-md-6 col-sm-12">
        <app-product-card></app-product-card>
      </div>
      <div class="card col-lg-3 col-md-6 col-sm-12">
        <app-product-card></app-product-card>
      </div>
      <div class="card col-lg-3 col-md-6 col-sm-12">
        <app-product-card></app-product-card>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center">Kiváló minőségű eszközök olcsón, egyszerűbben, mint a vásárban.</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 d-flex justify-content-center align-items-center">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="iconDiv d-flex flex-column justify-content-center align-items-center">
          <span class="material-symbols-outlined">shopping_basket</span>
        </div>
        <p>Webshop</p>
      </div>

      <p class="m-0">Vásároljon és rendeljen olcsón, megbízhatóan gépe, tabletje vagy telefonja segítségével!</p>
    </div>

    <div class="col-lg-4 d-flex justify-content-center align-items-center">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="iconDiv d-flex flex-column justify-content-center align-items-center">
          <span class="material-symbols-outlined">phone_in_talk</span>
        </div>
        <p>Elérhetőség</p>
      </div>

      <p class="m-0">Problémája van? Keressen minket facebook-on vagy emailben!</p>
    </div>

    <div class="col-lg-4 d-flex justify-content-center align-items-center">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="iconDiv d-flex flex-column justify-content-center align-items-center">
          <span class="material-symbols-outlined">local_shipping</span>
        </div>
        <p>Házhoz szállítás</p>
      </div>

      <p class="m-0">Rendelje meg és maximum 5 munkanapon belül az ajtajánál lesz!</p>
    </div>
  </div>
</div>
