<nav class="navbar sticky-top navbar-expand-lg">
  <div class="container-fluid">
    <a routerLink="/homePage" class="navbar-brand">
      <img src="" alt="Logo">
    </a>
    <form id="search" action="" role="search">
      <input class="form-control shadow" type="search" placeholder="Keresés" aria-label="Keresés">
    </form>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <span (click)="handleNavbar()">Termékeink</span>
        </li>
        <li class="nav-item">
          <a>Ajánlatok</a>
        </li>
        <li class="nav-item">
          <a routerLink="/aboutUs">Rólunk</a>
        </li>
      </ul>
    </div>
    <a routerLink="/login">
      <button class="icon-button">
        <span>{{userService.user?.firstName}}</span>
        <span class="material-symbols-outlined">
          person
        </span>
      </button>
    </a>
    <button class="icon-button" routerLink="/basket">
      <span class="material-symbols-outlined">shopping_cart</span>
    </button>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
