#login {
  min-height: calc(100vh - 63px - 90px);
}

form {
  background-color: #BFBFC0;
  border-radius: 20px;
  width: 400px;
}

.row {
  margin: 0 15px;
}

input {
  border-radius: 25px;
  border: none;
}

h1 {
  margin: 20px;
  text-align: center;
}

input {
  border-radius: 25px;
  min-width: 300px;
  margin-bottom: 20px;
  width: 150px;
  border: none;
  padding: 5px 10px;
}

button {
  background-color: #48616D;
  border-radius: 20px;
  display: block;
  margin: 10px auto;
  padding: 5px;
  width: 150px;
  border: none;
  color: white;
}

a {
  color: black;
  text-decoration: underline;
  font-size: medium;
}

a:hover {
  text-decoration: dotted underline;
}

#password.shadow {
  margin-bottom: 0;
}

#forgotPassword {
  color: black;
  text-decoration: underline;
  font-size: smaller;
  margin: 10px;
}

#forgotPassword:hover {
  text-decoration: dotted underline;
}

#registerButton {
  color: black;
  text-decoration: underline;
  font-size: medium;
}

#registerButton:hover {
  text-decoration:dotted underline;
}


