<div id="login" class="container">
  <h1>Bejelentkezés</h1>
  <form class="container-fluid justify-content-center align-items-center">
    <div class="row">
      <div class="col-12">
        <label for="email">E-mail</label>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <input class="shadow" type="email" id="email" name="email" placeholder="E-mail">
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <label for="password">Jelszó</label>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <input class="shadow" type="password" id="password" name="passwords" placeholder="Jelszó">
      </div>
    </div>

    <div class="row">
      <a href="#" id="forgotPassword">Elfelejtettem a jelszavam</a>
    </div>

    <div class="row">
      <div class="col-12 d-flex justify-content-center align-items-center">
        <button class="shadow">Bejelentkezés</button>
      </div>
    </div>

    <div class="row">
      <div class="col-12 d-flex justify-content-center align-items-center">
        <p>Nincs fiókod? <a href="#register" id="registerButton">Regisztrálj itt!</a></p>
      </div>
    </div>
  </form>
</div>
