app-product-editor {
  position: fixed;
  top: 0px;
  left: 0px;
}

.container-fluid {
  position: relative;
  top: 10px;
  min-height: calc(100vh - 63px - 90px);
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
  margin: 10px auto;
}
tr {
  border: 1px solid black;
}
th {
  border: 1px solid black;
  background-color: #B7B7B7;
  color: white;
}

td {
  border: 1px solid black;
}

.col-lg-2 button{
  border: none;
  background-color: transparent;
}

.sorting {
  background-color: #B7B7B7;
  border-radius: 15px;
  padding: 25px;
  margin: 10px;
  width: fit-content;
}

.sorting button:hover{
  text-decoration: underline;
}

.newProduct button {
  background-color: #48616D;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  text-align: center;
  margin-top: 40px;
}

td button {
  border: none;
  background-color: transparent;
}
