<div class="container fluid">
  <div class="row">
    <div class="col-lg-12">
      <h1>Termékek</h1>
    </div>
    <!-- <div class="col-lg-6">
      <input type="text" placeholder="Keresés">
    </div> -->
  </div>
  <div class="row">
    <div class="col-lg-12">
      <table>
        <thead>
          <tr>
            <th>Cikkszám</th>
            <th>Terméknév</th>
            <th>Márka</th>
            <th>Bruttó ár</th>
            <th>Raktáron</th>
            <th>Kép</th>
            <th>Bővebben</th>
          </tr>
        </thead>
        <tbody>
          @for (product of products; track $index) {
            <tr>
              <td>{{product.stockKeepingUnit}}</td>
              <td>{{product.name}}</td>
              <td>{{product.brand.name}}</td>
              <td>{{product.price}}</td>
              <td>{{product.amount}}</td>
              <td></td>

              <td>
                <span class="material-symbols-outlined">menu</span></td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
