<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-lg-6 d-flex justify-content-center align-items-center">
      <img [src]="selectedProduct.images[0]?.imagePath" alt="" class="img-fluid">
    </div>

    <div class="col-lg-6">
      <h1 class="text-lg-start text-center">{{ selectedProduct.name }}</h1>
      @if (selectedProduct.brand.name.toString() != "non") {
        <h3 class="text-lg-start text-center">{{ selectedProduct.brand.name }}</h3>
      }

      <div class="w-100 d-flex justify-content-between align-items-center">
        <h4 class="price">{{ selectedProduct.price }},-FT</h4>
        <select #amountSelect>
          <option value="1" selected>1 db</option>
          <option value="2">2 db</option>
          <option value="3">3 db</option>
          <option value="4">4 db</option>
          <option value="5">5 db</option>
        </select>
      </div>
      <button id="buyButton" (click)="addToCart(+amountSelect.value)">Kosárba</button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="description-review-buttons">
        <button id="description" (click)="handleReview(false)">Leírás</button>
        <button id="reviews" (click)="handleReview(true)">Értékelések</button>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 dr">
        @if (showReviews) {
          @if (reviews.length != 0) {
            @for (review of reviews; track $index) {
              <app-review-card [review]="review" [parentComponent]="'productDetails'"/>
            }
          } @else {
            <h4>Nincsenek még értékelések.</h4>
          }
          <div class="col-lg-12 col-md-12 col-sm-12">
            @if (isShowReviewForm) {
              <form [formGroup]="reviewForm">
                <textarea type="text" class="form-control" formControlName="reviewText"> </textarea>
                <select formControlName="rating">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </form>
            }
            <button id="reviewButton" [disabled]="reviewForm.invalid && isShowReviewForm" (click)="handleReviewCreate()">Értékelés írása</button>
          </div>
        } @else {
          <p>{{selectedProduct.description}}</p>
        }
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h1>Hasonló termékek:</h1>
      <div class="container-fluid">
        <div class="row">
          @for (product of similarProducts; track $index) {
            <div class="col-lg-3 d-flex justify-content-center align-items-center">
              <app-product-card [product]="product" />
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
