<div class="container-fluid py-4 d-flex flex-column justify-content-center align-items-center">
  @if (!isError) {

      @for (productRow of getRows(); track $index) {
        <div class="row">
          @for (product of productRow; track $index) {
            <div class="col-xl-3 col-lg-6 col-md-6 my-4 d-flex justify-content-center align-items-center">
              <app-product-card [product]="product" />
            </div>
          }
        </div>
    }
  } @else {
    <div class="row">
      <div class="col-lg-12">
        <h1 class="text-center">Hiba történt! Kérlek próbáld meg később!!!</h1>
      </div>
    </div>
  }
</div>
