.products {
  background-color: rgba(gray, black, black, 0.9);
  position: fixed;
  top: 44px;
  width: 100%;
}

.body {
  background-color: #D9D9D9;
  width: 120vh;
  height: fit-content;
  margin: 0 auto;
}

.category {
  text-align: right;
  font-size: large;
  background-color: #8D8D8D;
}

table {
  width: 100%;
}

.category td {
  text-align: right;
}

.item {
  margin: 5px 0;
}
