  <div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <img src="assets/keszlet.png" alt="Árukészlet megtekintésse" class="img-fluid" routerLink="/storagePage">
      <label>Árukészlet megtekintése</label>
    </div>
    <div class="col-lg-4">
      <img src="assets/keszlet.png" alt="Rendelési előzmények" class="img-fluid" routerLink="/orderHistoryPage">
      <label>Rendelési előzmények</label>
    </div>
    <div class="col-lg-4">
      <img src="assets/keszlet.png" alt="Statisztika" class="img-fluid" routerLink="/statistic">
      <label>Statisztika</label>
    </div>
  </div>
</div>
