<div  class="container-fluid">
  <h1>Elfelejtett jelszó</h1>
  <form class="container-fluid justify-content-center align-items-center">

    <div class="row">
      <div class="col-12">
        <label for="email">E-mail</label>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <input formControlName="email" class="shadow" type="email" id="email" name="email" placeholder="E-mail">
      </div>
    </div>

    <div class="row">
      <div class="col-12 d-flex justify-content-center align-items-center">
        <button class="shadow">Kód kérése</button>
      </div>
    </div>
  </form>
</div>
