.container-fluid {
  min-height: calc(100vh - 63px - 90px);
}

form {
  background-color: #BFBFC0;
  border-radius: 20px;
  height: fit-content;
  width: 400px;
}

.row {
  margin: 0 15px;
}

h1 {
  margin: 20px;
  text-align: center;
}

label {
  font-size: large;
  margin: 5px;
  width: 150px;
}

input {
  border-radius: 25px;
  min-width: 300px;
  margin-bottom: 20px;
  width: 150px;
  border: none;
  padding: 5px 10px;
}

button {
  background-color: #48616D;
  border-radius: 20px;
  display: block;
  margin: 10px auto;
  padding: 5px;
  width: 150px;
  border: none;
  color: white;
}

@media screen and (max-width: 450px) {
  form {
    width: 100%;
  }
}
