<div id="register">
  <h1>Regisztráció</h1>
  <form>
    <div class="row align-items-center">
      <div class="row">
        <label for="lastName">Vezetéknév</label>
      </div>
      <div class="row">
        <input type="text" id="lastName" name="lastName">
      </div>

      <div class="row">
        <label for="firstName">Keresztnév</label>
      </div>
      <div class="row">
        <input type="text" id="firstName" name="firstName">
      </div>

      <div class="row">
        <label for="email">E-mail</label>
      </div>
      <div class="row">
        <input type="email" id="email" name="email">
      </div>

      <div class="row">
        <label for="password">Jelszó</label>
      </div>
      <div class="row">
        <input type="password" id="password" name="passwords">
      </div>

      <div class="row">
        <label for="passwordAgain">Jelszó újra</label>
      </div>
      <div class="row">
        <input type="password" id="passwordAgain" name="passwordAgain">
      </div>
    </div>
  </form>
</div>
