#register {
  height: 100%;
  padding: auto;
}

h1 {
  text-align: center;
}

form {
  background-color: #BFBFC0;
  border-radius: 20px;
  margin: 10px auto;
  width: fit-content;
}

input {
  border-radius: 25px;
  min-width: 300px;
  margin-bottom: 20px;
  width: 150px;
}

label {
  font-size: large;
  margin: 5px;
  margin-left: 0;
  width: 150px;
}

.row {
  margin: 0 15px;
  width: 350px;
}
