p {
  min-width: fit-content;
  justify-content: center;
}

.row {
  border-radius: 15px;
  margin: 15px 10px;
  background-color: #B7B7B7;
  padding: 5px;
}

.col-lg-2 {
  margin: 5px 0;
  vertical-align: middle;
}
