<div class="container-fluid main">
  <div class="row h-100">
    <div class="col-lg-4 d-flex flex-column align-items-center">
      <button class="w-50 my-2" (click)="selectContent('profilPage')">Saját profil</button>
      <button class="w-50 my-2" (click)="selectContent('orderHistory')">Rendeléseim</button>
      <button class="w-50 my-2" (click)="selectContent('reviews')">Véleményeim</button>
      <button class="w-50 my-2 bg-danger" (click)="deleteUser()">Fiók törlése</button>
    </div>
    <div class="col-lg-8 h-100 d-flex flex-column justify-content-between">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-center align-items-center">
              <label for="pfpInput">
                <img [src]="userService.user?.pfpPath" alt="Profilkép">
              </label>
              <h1>Üdv, {{userService.user?.lastName}} {{userService.user?.firstName}}</h1>
            </div>
            <button (click)="logout()" class="bg-danger">Kijelentkezés</button>
          </div>
        </div>
      </div>
      <div class="contentContainer justify-content-center align-items-center d-flex">
        @if (selectedContent == 'profilPage') {
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12">
                @if(isEdit) {
                  <form class="container-fluid" [formGroup]="updateForm">
                    <div class="row">
                      <div class="col-lg-12">
                        <label for="firstName">Vezetéknév:</label>
                        <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="Vezetéknév">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <label for="lastName">Keresztnév:</label>
                        <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="Keresztnév">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <label for="email">E-mail cím:</label>
                        <input type="text" class="form-control" id="email" formControlName="email" placeholder="E-mail cím">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <label for="phoneNumber">Telefonszám:</label>
                        <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber" placeholder="Telefonszám">
                      </div>
                    </div>

                  </form>
                }@else {
                  <p><span class="fw-bold">Vezetéknév:</span> {{userService.user?.firstName}}</p>
                  <p><span class="fw-bold">Keresztnév:</span> {{userService.user?.lastName}}</p>
                  <p><span class="fw-bold">E-mail:</span> {{userService.user?.email}}</p>
                  <p><span class="fw-bold">Telefonszám:</span> {{userService.user?.phoneNumber}}</p>
                }
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 d-flex justify-content-end align-items-center">
                <button (click)="handleUpdate()" [disabled]="isEdit && updateForm.invalid" id="edit">Adatok módosítása</button>
              </div>
            </div>
          </div>
        } @else if (selectedContent == 'orderHistory') {
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12">
                <h2>Korábbi rendeléseid:</h2>
              </div>
            </div>
            @if (orderHistories.length != 0) {
            <div class="row">
              <div class="col-lg-12">
                @for (orderHistory of orderHistories; track $index) {
                  <app-order-card [orderHistory]="orderHistory" />
                }
              </div>
            </div>
          } @else {
            <div class="row">
              <div class="col-lg-12">
                <p>Még nem adtál le rendelést.</p>
              </div>
            </div>
          }
          </div>
        }
        @else if (selectedContent == 'reviews') {
          <div class="container-fluid">
            @if (reviewList.length != 0) {
            <div class="row">
              <div class="col-lg-12">
                @for (review of reviewList; track $index) {
                  <app-review-card [review]="review" [parentComponent]="'profilPage'" />
                }
              </div>
            </div>}
            @else {
              <div class="row">
                <div class="col-lg-12">
                  <h3>Még nem írtál véleményt.</h3>
                </div>
              </div>
            }
          </div>
        }
      </div>
    </div>
  </div>
</div>

<input type="file" name="pfpInput" id="pfpInput" (change)="updatePfp($event)" style="opacity: 0; bottom: 0; right: 0;">
