<div class="container-fluid" style="min-height: 100vh;">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-lg-start text-center">Kosár</h1>
    </div>
  </div>

  @if (cartService.usersCart.cartProductList.length != 0) {
    <div class="row">
      <div class="col-lg-7">
        @for (cartProduct of cartService.usersCart.cartProductList; track $index) {
          <app-cart-card [cartProduct]="cartProduct" (changeAmount)="changeAmount($event, $index)" />
        }
      </div>

      <div class="col-lg-5">
        <div class="h-100" id="infoDiv">
          <h1>Rendelés összegzés</h1>
          <hr>
          <p><span>Résszösszeg: </span> <span>{{sumPrice}},-Ft</span></p>
          <p><span>Szállitási költség: </span> <span>1890,-Ft</span></p>
          <hr>
          <span><span>Végösszeg: </span> <span>{{sumPrice + 1890}},-Ft</span></span>
          <div class="w-100 d-flex justify-content-center align-items-center">
            <button routerLink="/orderPage/transportDetails">Tovább a fizetéshez</button>
          </div>
        </div>
      </div>
    </div>
  } @else {
    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center align-items-center">
        <h1 class="text-center">Üres a kosár!</h1>
        <button>Vissza a főoldalra</button>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h2>Aktualis kiemelt termekeink</h2>
      </div>
    </div>

    <div class="row">
      @for (product of highlightedProducts; track $index) {
        <div class="col-lg-3 d-flex justify-content-center align-items-center">
          <app-product-card [product]="product" />
        </div>
      }
    </div>
  }
</div>
