.footer {
  background-color: #B4B4B4;
  padding: 10px;
  width: 100%;
  height: 100px;
  vertical-align: middle;
  margin-top: 20px;
}

.row {
  margin: 0;
  padding: 0;
}

.col {
  padding: 0 15px;
}

#logo {
  align-self: center;
}

button {
  align-self: center;
  padding: 0;
  border: none;
  margin: 5px;
  padding: 5px;
  border-radius: 50px;
}

p {
  margin: 0;
  padding: 0;
  align-self: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  vertical-align: middle;
  margin-bottom: 4px;
}

.email {
  background-color: #2F75EC;
  height: 34px;
}
