<div class="container-fluid justify-content-center d-flex flex-column footer">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col  justify-content-start d-flex">
          <img src="#" alt="Logo">
        </div>
        <div class="col justify-content-center d-flex">
          <button>Facebook</button>
          <button>Email</button>
        </div>
        <div class="col justify-content-end d-flex">
          <p>©2025, Minden jog fenntartva.</p>
        </div>
      </div>
    </div>
  </div>
</div>
