.footer {
  background-color: gray;
  padding: 10px;
  width: 100%;
  height: 100px;
}

.row {
  margin: 0;
  padding: 0;
}

.col {
  padding: 0 15px;
}

button {
  align-self: center;
}

p {
  margin: 0;
  padding: 0;
}
