<div class="container-fluid justify-content-center d-flex flex-column footer">
  <div class="row">
        <div class="col-lg-12 d-flex flex-lg-row flex-column justify-content-lg-between justify-content-center">
          <img id="logo" src="assets/logo.png" alt="Logo">
          <div class="col justify-content-center d-flex">
            <button class="icon-button shadow fb">
              <img src="assets/icons8-facebook-50.png" alt="Facebook">
            </button>
            <button class="icon-button shadow email">
              <a href="mailto:badogosshop@gmail.com">
                <span class="material-symbols-outlined">
                  mail
                </span>
              </a>
            </button>
          </div>
          <p>©{{currentYear}}, Minden jog fenntartva.</p>
        </div>
  </div>
</div>
